.signup-buttons {
    width: 30%;
    background-color: white;
    margin: auto;
    padding: 10px;
    margin-top: 60px;
    border-radius: 5px;
    justify-content: space-between;
    display: flex;
}

/* .form-control {
    width: 50%;
    margin: auto;
} */

.form-group {
    width: 50%;
    margin: auto;
}