.graph-container {
    height: 280px;
    display: flex;
    padding: 10px;
    max-width: 250px;
}

.graph-container-strains {
    height: 280px;
    width: 20%;
    background-color: aliceblue;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px #464646;
    display: flex;
    padding: 10px;
}

.table-container {
    float: left;
    display: flex;
}

.prod-cell-block-names {
    width: 300px;
    background-color: #014638;
    color: white;
    padding: 5px
}

.prod-cell-block-values {
    width: 100px;
    background-color: #014638;
    color: white;
}